* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #fdfdfd;
    color: #292929;
}

/* global */

a {
    text-decoration: none;
}

table {
    width: 100%;
}

table,
th,
td {
    border: #ff6a41 1px solid;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
    text-align: center;
}

tr:nth-of-type(even) {
    background: #ffdcd3;
}

tr:nth-child(1) {
    height: 50px;
    text-align: center;
}

.services___quote textarea,
input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 4px;
    height: 36px;
    width: 300px;
    border: none;
    border-radius: 2px;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.button_1 {
    height: 36px;
    background: #fd8665;
    border: none;
    border-radius: 3px;
    padding: 0 20px 0 20px;
    color: #ffffff;
}

.button_1:hover {
    background: #ff6a41;
}

/* header */
header {
    padding: 10px 0;
}

header a {
    color: #292929;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.5px;
}

header a:hover {
    color: #ff6a41;
}

.header__branding {
    float: left;
}

.branding__highlight,
.showcase__highlight,
.header__current a {
    color: rgb(255, 180, 157);
}

.header__nav {
    float: right;
    margin-top: 12px;
}

.header__nav li {
    display: inline;
    margin: 10px;
}

/* showcase section */
#showcase {
    min-height: 500px;
    background: url("../img/showcase.jpg") no-repeat 0 -250px;
    box-shadow: inset 0 0 0 500px #29292986;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #ffffff;
}

.showcase__title {
    margin-top: 150px;
    font-size: 100px;
    margin-bottom: 10px;
}

.showcase__subtitle {
    padding: 10px;
    font-size: 25px;
    margin-bottom: 120px;
}

/* offers section */
#offers {
    margin-top: 80px;
}

.offers__box {
    float: left;
    width: 33.33%;
    padding: 0 30px;
    text-align: center;
}

.offers__box img {
    width: 90px;
    margin-bottom: 30px;
}

.offers__box:nth-of-type(1) img {
    margin: 34px;
}

/* previews section */
#previews {
    margin: 80px 0;
}

.previews__box {
    float: left;
    width: 33.33%;
    padding: 1px 0;
}

.previews__box img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

/* newsletter section*/
#newsletter {
    /* margin-top: 80px; */
    padding: 40px;
    color: #ffffff;
    background: rgb(255, 180, 157);
}

#newsletter h1 {
    float: left;
    letter-spacing: 3px;
    margin-top: 5px;
}

#newsletter form {
    float: right;
    margin-top: 5px;
}

/* other pages */
#services {
    margin-top: 80px;
}

.services__details li {
    list-style: none;
    padding: 20px;
    margin-bottom: 10px;
    border: #ff6a41 1px solid;
    background: #ffdcd3;
}

.services__details h3,
.services__details p {
    margin: 10px 0;
}

#about {
    margin-top: 80px;
}

.services__main,
.about__main {
    float: left;
    width: 70%;
}

.services__sidetext,
.about__sidetext {
    float: right;
    width: 25%;
}

.services__sidetext,
.about__main p,
.about__sidetext {
    padding: 15px;
    margin: 10px 0 10px 0;
}

.services__sidetext,
.about__main p:nth-of-type(odd),
.about__sidetext:nth-of-type(even) {
    background-color: rgb(255, 180, 157);
    color: #ffffff;
}

#forms {
    margin: 100px 0;
    padding: 100px;
    background: rgb(255, 180, 157);
    color: #ffffff;
}

.forms__loginRegister a {
    color: #cf3307;
}

.forms__loginRegister p {
    font-size: 13px;
}

.services___quote h1,
.forms__loginRegister h1 {
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 10px;
}

.services___quote input,
.forms__loginRegister input,
.forms__loginRegister .button_1 {
    margin: 5px 0;
}

.services___quote .button_1,
.forms__loginRegister .button_1 {
    margin-top: 20px;
}

.forms__ortext {
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    margin-top: 150px;
    padding-right: 150px;
}

/* footer */
footer {
    padding: 20px;
    margin-top: 20px;
    background: #ffffff;
    text-align: center;
}

@media (max-width: 1678px) {
    .services__main,
    .services__sidetext {
        float: none;
        width: 100%;
    }

    .services__sidetext {
        text-align: center;
    }
}

@media (max-width: 880px) {
    .header__branding,
    .header__nav,
    .offers__box,
    .previews__box,
    #newsletter h1,
    #newsletter form,
    .services__main,
    .services__sidetext,
    .about__main,
    .about__sidetext {
        float: none;
        text-align: center;
        width: 100%;
    }

    #showcase {
        min-height: 100%;
    }

    .showcase__title {
        font-size: 70px;
        margin-top: 40px;
        width: 100%;
    }

    .showcase__subtitle {
        /* padding: 10px; */
        font-size: 20px;
        margin-bottom: 40px;
    }

    .offers__box {
        margin-bottom: 50px;
    }

    .previews__box img {
        width: 350px;
        height: 350px;
    }

    .services___quote textarea,
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: 100%;
        margin-bottom: 5px;
    }

    #newsletter button,
    .forms__loginRegister .button_1 {
        display: block;
        width: 100%;
    }

    .about__sidetext:nth-of-type(even) {
        background-color: #ffffff;
        color: #292929;
    }

    .about__sidetext:nth-of-type(odd) {
        background-color: rgb(255, 180, 157);
        color: #ffffff;
    }

    .forms__ortext {
        color: #ffffff;
        font-size: 50px;
        text-align: center;
        margin: 10px 0 10px 150px;
        padding-left: auto;
    }
}
